@model Nossos_Contos.Entities.Account
@{
    ViewBag.Title = Model.UserName;


}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                @Model.UserName
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="@Url.Action("index", "home")" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("index", "tales")" class="kt-subheader__breadcrumbs-link">
                    Usuários
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    @Model.Name
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" >


        <div class="col" align="center">


            <div class="col-xl-8" >
                <!--Begin::Portlet-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-2">
                            <div class="kt-widget__head">
                                <div class="kt-widget__media">
                                    <div class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-hidden">
                                        @Model.UserId
                                    </div>
                                </div>


                            </div>

                            <div class="kt-widget__body">


                                <div class="kt-widget__item">

                                    <div class="kt-widget_contact" align="center">
                                     
                                        <span class="kt-widget__label" style="color:black; ">
                                            <div style="width:305px; height:295px; background-color:black; border-radius:305px; ">
                                                <img src="@Model.Picture" style="border-radius:420px; width: 300px; height: 290px; align-self: center; margin-bottom:50px" />
                                            </div>
                                         </span>
                                    </div>
                                   

                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">ID Usuário:</span>
                                        <span class="kt-widget__data" style="font-size: 20px" ">@Model.UserId</span>
                                    </div>

                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Nome Usuário:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.UserName</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Nome:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.Name</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Sobrenome:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.FamilyName</span>
                                    </div>

                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Email:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.Email</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Data Nascimento:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.BirthDate</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Data Criação:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.CreationDateTime</span>
                                    </div>
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label" style="color:black; font-size: 20px">Data Modificação:</span>
                                        <span class="kt-widget__data" style="font-size: 20px">@Model.UpdateDateTime</span>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--end::Widget -->
                    </div>
                </div>
                <!--End::Portlet-->
            </div>
        </div>

    <div class="kt-portlet__foot" align="center">
        <div class="kt-form__actions" >
            <a href="@Url.Action("index", "accounts")" class="btn btn-brand"><h3>Voltar</h3></a>
        </div>
    </div>
</div>
<!-- end:: Content -->
