@model List<Nossos_Contos.Entities.Complaint>
@{
    ViewBag.Title = "denúncias";
}

@section Scripts {
    <script src="~/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Table').DataTable({
                lengthMenu: [5, 10, 25, 50],
                pageLength: 10,
                language: {
                    'lengthMenu': 'Display _MENU_',
                },
                order: [[1, 'desc']]
            });
        });
    </script>
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Usuários
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="@Url.Action("index", "home")" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
            
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">
                    Denúncias
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fa fa-bullhorn"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Denúncias
                    <small>Todos as denúncias da plataforma</small>
                </h3>
            </div>
          
        </div>
        <div class="kt-portlet__body">
            <table id="Table" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ID Conto</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Tipo Denúncia</th>
                        <th class="text-center">Data Criação</th>
                        <th class="text-center">Data Atualização</th>
                        <th class="text-center">Ações</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var complaint in Model)
                    {
                    <tr>

                        <td class="text-center">
                            <a href="@Url.Action("details", "tales", new { id = complaint.IDTale })" title="Visualizar">
                                <i class="text-center"><h3>@complaint.IDTale</h3></i>
                            </a>
                        </td>



                        <td class="text-center"><h3>@complaint.TitleComplaint</h3></td>
                        <td class="text-center"><h3>@complaint.TypeComplaint</h3></td>
                        <td class="text-center"><h3>@complaint.CreationDateTime</h3></td>
                        <td class="text-center"><h3>@complaint.UpdateDateTime</h3></td>
                        <td class="text-center">
                            <a href="@Url.Action("delete", "complaints", new { id = complaint.IDComplaint })" onclick="return confirm('Tem certeza que deseja excluir essa denúncia?')" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Excluir">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                            <a href="@Url.Action("details", "complaints", new { id = complaint.IDComplaint })" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Visualizar">
                                <i class="fa fa-eye"></i>
                            </a>


                    </tr>                        
                    }
                </tbody>
            </table>            
        </div>
    </div>
</div>
<!-- end:: Content -->