<!-- begin:: Aside Menu -->
<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
        <ul class="kt-menu__nav ">
            <li class="kt-menu__section ">
                <h4 class="kt-menu__section-text">Relatórios</h4>
                <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item " aria-haspopup="true">
                <a href="@Url.Action("index", "home")" class="kt-menu__link ">
                    <i class="kt-menu__link-icon fa fa-tachometer-alt"></i>
                    <span class="kt-menu__link-text">Dashboard</span>
                </a>
            </li>
            <li class="kt-menu__section ">
                <h4 class="kt-menu__section-text">Usuários</h4>
                <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item " aria-haspopup="true">
                <a href="@Url.Action("index", "accounts")" class="kt-menu__link ">
                    <i class="kt-menu__link-icon fa fa-users"></i>
                    <span class="kt-menu__link-text">Usuários</span>
                </a>
            </li>
            <li class="kt-menu__item " aria-haspopup="true">
                <a href="@Url.Action("index", "administrators")" class="kt-menu__link ">
                    <i class="kt-menu__link-icon fa fa-users"></i>
                    <span class="kt-menu__link-text">Administradores</span>
                </a>
            </li>
            <li class="kt-menu__item " aria-haspopup="true">
                <a href="@Url.Action("index", "complaints")" class="kt-menu__link ">
                    <i class="kt-menu__link-icon fa fa-bullhorn"></i>
                    <span class="kt-menu__link-text">Denúncias</span>
                </a>
            </li>

            <li class="kt-menu__section ">
                <h4 class="kt-menu__section-text">Contos</h4>
                <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="kt-menu__item " aria-haspopup="true">
                <a href="@Url.Action("index", "tales")" class="kt-menu__link ">
                    <i class="kt-menu__link-icon fa fa-book"></i>
                    <span class="kt-menu__link-text">Contos</span>
                </a>
            </li>

            <li class="kt-menu__item " aria-haspopup="true">
                <a href="@Url.Action("signout", "login")" class="kt-menu__link ">
                    <i class="kt-menu__link-icon fa fa-power-off"></i>
                    <span class="kt-menu__link-text">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end:: Aside Menu -->